@using System.CodeDom
@using System.Collections
@using System.Reflection
@using BestSales.Models.UserInfo
@model BestSales.Models.UserInfo.User

<div id="userdetails-section">
    <img src="~/Images/UserIcons/@Model.ThumbnailName" alt="Miniaturka-zdjęcia" />
    <h2>@Model.Name</h2>
    <h4>@Model.Profession</h4>
   
    @{
        var propertys = Model.GetType().GetProperties(BindingFlags.Instance | BindingFlags.Public);

    }
    <ul class="list-group">
        <li class="list-group-item row">
            <div class="col-sm-6">
                <b>DZIAŁ:</b>
            </div>
            <div class="col-sm-6">
                @Model.Department
            </div>
        </li>
        <li class="list-group-item row">
            <div class="col-sm-6">
                <b>EMAIL:</b>
            </div>
            <div class="col-sm-6">
                @Model.Email
            </div>
        </li>
        <li class="list-group-item row">
            <div class="col-sm-6">
                <b>TELEFON:</b>
            </div>
            <div class="col-sm-6">
                @Model.PhoneNumber
            </div>
        </li>
        <li class="list-group-item row">
            <div class="col-sm-6">
                <b>UMIEJĘTNOŚCI:</b>
            </div>
            <div class="col-sm-6">
                @foreach (var skill in Model.SkillsList)
                {
                    @skill<text>,</text>
                    <br/>
                }
            </div>
        </li>
        <li class="list-group-item row">
            <div class="col-sm-6">
                <b>ZAINTERESOWANIA:</b>
            </div>
            <div class="col-sm-6">
                @foreach (var hobby in Model.HobbysList)
                {
                    @hobby<text>,</text>
                    <br />
                }
            </div>
        </li>
    </ul>
    
</div>
