@using BestSales.Models.DB
@model BestSales.Models.DB.DB2KomisDataBaseEntities

@{
    foreach (var car in Model.DaneSamochodu)
    {
        //sprawdza warunek wyświetlania auta
        if (!Model.CarDisplayContidion(car,Model))
        {
            continue;
        }

        <div class="col-xs-4">
            <div class="thumbnail">
                <img src="../../Images/IdImages/@((car.IdSamochodu)+".png")" alt="" />
                <div class="caption">
                    <h4 class="pull-right">@car.Cena zł</h4>
                    <h4>
                        <a href="#">Sprawdź!</a>

                    </h4>
                    <p>

                        Wspaniały @car.Kolor @car.LiczbaDrzwi drzwiowy
                        @Model.MarkiSamochodow.First(x=>x.IdMarki==(Model.ModeleSamochodow.FirstOrDefault(y=>y.IdModelu==car.IdModelu).IdMarki)).Marka
                        @(Model.ModeleSamochodow.First(x=>x.IdModelu==car.IdModelu).Model). Pojemność @car.Pojemnosc cm3 @(car.RodzajPaliwa).
                        Przebieg @car.Przebieg km, rok @car.RokProdukcji, skrzynia @(car.SkrzyniaBiegow).
                    </p>
                </div>
                <div class="ratings">
                    <p>Ocena samochodu</p>
                    <p class="pull-right">
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                    </p>
                </div>
            </div>
        </div>

    }

}