@using BestSales.Models.DB
@model BestSales.Models.DB.DB2KomisDataBaseEntities

@{
    foreach (var car in Model.DaneSamochodu)
    {
    
        //sprawdza warunek wyświetlania auta
        if (!Model.CarDisplayCondtions(car,Model))
        {
            continue;
        }
      
       
        <div class="col-xs-4">
            <div class="thumbnail">
                <img src="../../Images/IdImages/@((car.IdSamochodu)+".png")" alt="" />
                <div class="caption">
                    <h4 class="pull-right">@car.Cena zł</h4>
                    <h4>
                        @{
                            var marka = Model.MarkiSamochodow.First(x => x.IdMarki == (Model.ModeleSamochodow.FirstOrDefault(y => y.IdModelu == car.IdModelu).IdMarki)).Marka;
                            var model = (Model.ModeleSamochodow.First(x => x.IdModelu == car.IdModelu).Model);
                            }
                        @Html.ActionLink(String.Format("{0} {1}",marka,model),"#","#")

                    </h4>
                    <p>

                        <ul>
                            <li>Liczba drzwi: @car.LiczbaDrzwi</li>
                            <li>Nadwozie: @car.RodzajNadwozia</li>
                            <li>Skrzynia: @(car.SkrzyniaBiegow)</li>
                            <li>Pojemność: @car.Pojemnosc cm3</li>
                            <li>Przebieg: @car.Przebieg </li>
                            <li>Rok produkcji: @car.RokProdukcji </li>
                            <li>Rodzaj paliwa: @(car.RodzajPaliwa) </li>
                            
                        </ul>

                    
                    </p>
                </div>
                <div class="ratings">
                    <p>Ocena samochodu</p>
                    <p class="pull-right">
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                    </p>
                </div>
            </div>
        </div>

    }

}